.navBarWrraper {
  background: #016efc;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85rem;
  margin: 0 auto;
  padding: 2.9rem 0 4.5rem;
}

.imgClose {
  cursor: pointer;
  color: #ffffff;
}

.logReg {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2.2rem 0 0 6.5rem;
}

.logReg > .allPosts,
.logReg > .log,
.logReg > .reg {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.logReg :last-child {
  padding-bottom: 0;
}
