.wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 21rem;
  margin: 1rem 2.5rem 0.5rem 0;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 13px;
}

.wrapperDark {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 21rem;
  margin: 1rem 2.5rem 0.5rem 0;
  padding: 1.5rem;
  background-color: #016efc;
  border-radius: 13px;
}

.img {
  margin-bottom: 0.5rem;
  height: 7.5rem;
  border-radius: 11px;
  object-fit: cover;
}

.title {
  padding-bottom: 0.5rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #4f4f4f;
}

.titleDark {
  padding-bottom: 0.5rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.text {
  max-width: 18.5rem;
  padding-bottom: 0.5rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #979797;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textDark {
  max-width: 18.5rem;
  padding-bottom: 0.5rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #016efc;
}

.dateDark {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
