.btn {
  cursor: pointer;
  background: #007bff;
  border: 4px solid #0077f7;
  box-sizing: border-box;
  border-radius: 200px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  padding: 1rem 9rem;
}

.switch,
.switchw {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input,
.switchw input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.sliderw {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
}

.sliderw:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #016efc;
  transition: 0.4s;
}

input:checked + .sliderw:before {
  background-color: #016efc;
  transform: translateX(26px);
}

.sliderw {
  border-radius: 34px;
  background-color: #fff;
}

.sliderw:before {
  border-radius: 50%;
  /* background-color: #016efc; */
}
