.searchPosts {
  display: flex;
  align-items: center;
}

.searchTitle {
  flex: 1;
  padding: 0 1rem 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 145.2%;
  color: #016efc;
}

.searchInput {
  outline: none;
  background: #f5f9ff;
  border: 4px solid #016efc;
  box-sizing: border-box;
  border-radius: 200px;
  padding: 0.5rem 1rem;
  width: 100%;
}
